    <div class="container-fluid">
        <div class="row">
    <div class="col-4">
        <br>
            <div class="row justify-content-center align-self-center">
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Registrar un ejercicio</button>
            </div>
            <br>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    
                    <th>Nombre</th>
                                      
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let ejercicio of ejercicios">
                    
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/ejercicios/{{ejercicio.id}}">{{ejercicio.nombre}}</dd>
                    </td>
                   
                </tr>
            </tbody>
        </table>
    </div>
            <div class="col-4">
                
            <ngbd-carousel-basic></ngbd-carousel-basic>
        </div>
    <div class="col-3">
          <div *ngIf="selectedEjercio">
              <app-ejercicio-detail> [ejercicioDetail]="selectedEjercicio</app-ejercicio-detail>
          </div>
        <div *ngIf="showCreate">
          <app-ejercicio-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-ejercicio-create>
       </div>
    </div>
             
</div>
       
        </div>