    <div class="container-fluid">
    <div class="col-md-6">
        <br>
            <div class="row justify-content-center align-self-center">
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Registrar un ejercicio</button>
            </div>
            <br>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Categoria</th>
                    <th>Duracion</th>
                    <th>NumeroDeSeries</th>
                    <th>Descripcion</th>
                    <th>Explicacion</th>                  
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let ejercicio of ejercicios">
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/ejercicios/{{ejercicio.id}}">{{ejercicio.id}}</dd>
                    </td>
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/ejercicios/{{ejercicio.id}}">{{ejercicio.nombre}}</dd>
                    </td>
                    <td style="cursor: pointer;">
                       <dd class="figure-caption" routerLink="/ejercicios/{{ejercicio.id}}">{{ejercicio.categoria}}</dd> 
                    </td>
                    <td style="cursor: pointer;">
                     <dd class="figure-caption" routerLink="/ejercicios/{{ejercicio.id}}">{{ejercicio.duracion}}</dd> 
                    </td>
                    <td style= "cursor: pointer;">
                      <dd class="figure-caption" routerLink="/ejercicios/{{ejercicio.id}}">{{ejercicio.numeroDeSeries}}</dd>                         
                    </td>
                    <td style= "cursor: pointer;">
                       <dd class="figure-caption" routerLink="/ejercicios/{{ejercicio.id}}">{{ejercicio.descripcion}}</dd>                                         
                    </td>                    
                    <td style="cursor: pointer;">
                         <dd class="figure-caption" routerLink="/ejercicios/{{ejercicio.id}}">{{ejercicio.explicacion}}</dd>                         
                
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>