<!--<div class="container-fluid">
    <div class="col-md-2">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Ejercicio Name</th>    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let e of ejercicios">
                    <td>{{e.name}}</td>
                  
                </tr>
            </tbody>
        </table>
    </div>-->
<div>
  Aquí se despliega la lista de ejercicios
</div>
