<div class="container-fluid">
    <div class="col-md-2">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Especialidad</th>
                    <th>Cedula</th>                 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let especialista of especialistas">
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/especialistas/{{especialista.id}}">{{especialista.id}}</dd>
                    </td>
                    <td>{{especialista.nombre}}</td>
                    <td>{{especialista.Especialidad}}</td>
                    <td>{{especialista.Cedula}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>