<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <br>
            <div class="row justify-content-center align-self-center">
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Registrar un Especialista</button>
            </div>
            <br>
            <br>
            <div class="container">
	<div class="row">
        <div class="col-sm-2 col-sm-offset-1">
            <div id="imaginary_container"> 
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Search" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>  
                    </span>
                </div>
            </div>
        </div>
	</div>
</div>
            <table class="list-group">
            <thead class="thead-dark">
                <tr>
                    <th>Nombres De Especialistas</th>                
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let especialista of especialistas">
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/especialistas/{{especialista.id}}">{{especialista.nombre}}</dd>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="col-8">
          <div *ngIf="selectedAuthor">
              <app-especialista-detail> [especialistaDetail]="selectedEspecialista></app-especialista-detail>
          </div>
        <div *ngIf="showCreate">
            <app-especialista-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-especialista-create>
        </div>
    </div>  
    </div>
</div>