<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center">Registrar una máquina</h2>
        <br>
        <form name="maquina" (ngSubmit)="f.form.valid && createMaquina()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="maquinaName"><b>Nombre</b></label>
                <input type="text" name="maquinaName" class="form-control" id="maquinaName" [(ngModel)]="maquina.nombre"
                    #maquinaName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && maquinaName.invalid }" required>
                <div class="invalid-feedback">
                    <div>Debe llenar el campo Nombre</div>
                </div>
            </div>
            <div class="form-group">
                <label for="maquinaReferencia"><b>Referencia</b></label>
                <input type="text" name="maquinaReferencia" class="form-control" id="maquinaReferencia" [(ngModel)]="maquina.referencia"
                    #maquinaReferencia="ngModel" [ngClass]="{ 'is-invalid': f.submitted && maquinaReferencia.invalid }" required>
                <div class="invalid-feedback">
                    <div>Debe llenar el campo Referencia</div>
                </div>
            </div>
            <div class="form-group">
                <label for="maquinaImagen"><b>Imagen</b></label>
                <input type="text" name="maquinaImagen" class="form-control" id="maquinaImagen" [(ngModel)]="maquina.imagen"
                    #maquinaImagen="ngModel" [ngClass]="{ 'is-invalid': f.submitted && maquinaImagen.invalid }" required>
                <div class="invalid-feedback">
                    <div>Debe llenar el campo imagen</div>
                </div>
            </div>
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Create</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>