<div class="col-md-12">
    <div class="container-fluid">   
        <p class="h3 p-3">Nombre: {{ejercicioDetail.nombre}}</p>
        <p class="h3 p-3">Referencia: {{ejercicioDetail.referencia}}</p>
        <p class="h3 p-3">Calorias: {{ejercicioDetail.calorias}}</p>
        <p class="h3 p-3">Tiempo: {{ejercicioDetail.tiempo}}</p>
        <p class="h3 p-3">Velocidad: {{ejercicioDetail.velocidad}}</p>
        <p class="h3 p-3">Velocidad promedio {{ejercicioDetail.velocidadPromedio}}</p>
    </div>
</div>