
<div class="col-md-6">
    <br>
            <div class="row justify-content-center align-self-center">
                <button  type="button" class="btn" >Editar Ejercicio</button>
            </div>
            <br>
    <table class="table table-hover table-info">
      <thead>
        <tr>
             <thead class="thead-primary">
          <th scope="col">Nombre:                    </th> 
    </thead>
          <td scope="row">{{ejercicioDetail.nombre}}</td>
        </tr>
        <tr><thead class="thead-primary">
          <th scope="col">Categoría:</th>  </thead>
          <td scope="row">{{ejercicioDetail.categoria}}</td>
        </tr>
        <tr><thead class="thead-primary">
          <th scope="col">Duración:</th>  </thead>
          <td scope="row">{{ejercicioDetail.duracion}}</td>
        </tr>
        <tr><thead class="thead-primary">
          <th scope="col">Numero De Series:</th>  </thead>
          <td scope="row">{{ejercicioDetail.numeroDeSeries}}</td>
        </tr>
        <tr><thead class="thead-primary">
          <th scope="col">Descripción: </th>  </thead>
          <td scope="row">{{ejercicioDetail.descripcion}}</td>
        </tr>
        <tr><thead class="thead-primary">
          <th scope="col">Explicación:</th>  </thead>
          <td scope="row">{{ejercicioDetail.explicacion}}</td>
        </tr>

      </thead>

    </table>

</div>
