<div class="container-fluid">
    <hr>
    <div>
        <h1 id="author-name">{{author.name}}</h1>
        <div class="row">
            <div class="col-md-3">
                <div class="thumb">
                    <img id="ejercicio-image" class="img-fluid" src='{{ejercicio.image}}' alt="{{ejercicio.image}}" />
                </div>
            </div>
            <div class="col-md-3">
                <dl>
                    <hr>
                    <dt>Birth Date</dt>
                    <dd id="ejercicio-nombre">{{ejercicio.nombre}}</dd>
                    <hr>
                </dl>
            </div>
            <div class="col-md-4">
                <dl>
                    <hr>
                    <dt>Bio</dt>
                    <dd id="ejercicio-descripcion">{{ejercicio.descripcion}}</dd>
                    <hr>
                </dl>
            </div>
        </div>
    </div>
    <br>
    <hr>
   
    <hr>
    <br>
</div>