<div class="col-md-12">
    <br>
    <div class="container-fluid">   
        <div class ="row">
            <div class="col-3">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Referencia</th>                 
                        </tr>
                    </thead>
                    <tbody>
                        <td>{{maquinaDetail.nombre}}</td>
                        <td>{{maquinaDetail.referencia}}</td>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <img class="img-fluid" src='{{maquinaDetail.imagen}}' alt="{{maquinaDetail.imagen}}" width="80%" height="80%" />   
            </div>
            
        </div>
        
        
            
    </div>
</div>