<div class="col-md-12">
    <br>
    <div class="container-fluid">   
        <div class ="row">
            <div class="col-3">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Referencia</th>                 
                        </tr>
                    </thead>
                    <tbody>
                        <td>{{maquinaDetail.nombre}}</td>
                        <td>{{maquinaDetail.referencia}}</td>
                    </tbody>
                </table>
            </div>
            <div class="col-5">
                <img class="img-fluid" src='{{maquinaDetail.imagen}}' alt="{{maquinaDetail.imagen}}" width="80%" height="80%" />   
            </div>
            
             <div class="col-4">
                <p>Ejercicios para realizar en esta máquina:</p>
                     <br>
                        <table class="table table-striped">
                            <thead class ="thead-dark">
                                <tr>
                                    <th>Nombre</th>
                                </tr>
                            </thead>
                            <tbody>
                                 <tr *ngFor = "let ejercicio of maquinaDetail.ejercicios">

                                    <td style="cursor: pointer;">
                                        <dd class="figure-caption" routerLink="/ejercicios/{{ejercicio.id}}">{{ejercicio.nombre}}</dd>
                                    </td>
                                </tr>
                            </tbody>
                        </table>          
             </div>
            
            
        </div> 
    </div>
    
    
</div>