<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center">Registrar una zonacuerpo</h2>
        <br>
        <form name="zonacuerpo" (ngSubmit)="f.form.valid && createZonacuerpo()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="zonacuerpoName"><b>Nombre</b></label>
                <input type="text" name="zonacuerpoName" class="form-control" id="zonacuerpoName" [(ngModel)]="zonacuerpo.nombre"
                    #zonacuerpoName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && zonacuerpoName.invalid }" required>
                <div class="invalid-feedback">
                    <div>Debe llenar el campo Nombre</div>
                </div>
            </div>
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Create</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancel</button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>