<div class="col-md-12">
    <div class="container-fluid">   
        <p class="h3 p-3">Nombre: {{deportistaDetail.nombre}}</p>
        <p class="h3 p-3">Nombre: {{deportistaDetail.sexo}}</p>
        <p class="h3 p-3">Nombre: {{deportistaDetail.altura}}</p>
        <p class="h3 p-3">Nombre: {{deportistaDetail.presionSanguinea}}</p>
        <p class="h3 p-3">Nombre: {{deportistaDetail.peso}}</p>
        <p class="h3 p-3">Nombre: {{deportistaDetail.ritmoCardiaco}}</p>
        <p class="h3 p-3">Nombre: {{deportistaDetail.medidaPiernaa}}</p>
        <p class="h3 p-3">Nombre: {{deportistaDetail.medidaCintura}}</p>
        <p class="h3 p-3">Nombre: {{deportistaDetail.medidaBrazos}}</p>
        <p class="h3 p-3">Nombre: {{deportistaDetail.cedula}}</p>
        <p class="h3 p-3">Nombre: {{deportistaDetail.fechaNacimiento}}</p>
    </div>
</div>