
<div class="col-md-6">
    <br>
            <div class="row justify-content-center align-self-center">
                <button  type="button" class="btn" >Editar Deportista</button>
            </div>
            <br>
    <table class="table table-hover table-info">
      <thead>
        <tr>
             <thead class="thead-primary">
          <th scope="col">Nombre:</th> 
    </thead>
          <td scope="row">{{deportistaDetail.nombre}}</td>
        </tr>
        <tr><thead class="thead-primary">
          <th scope="col">Género:</th>  </thead>
          <td scope="row">{{deportistaDetail.sexo}}</td>
        </tr>
        <tr><thead class="thead-primary">
          <th scope="col">Altura:</th>  </thead>
          <td scope="row">{{deportistaDetail.altura}}</td>
        </tr>
        <tr><thead class="thead-primary">
          <th scope="col">Presión sanguínea:</th>  </thead>
          <td scope="row">{{deportistaDetail.presionSanguinea}}</td>
        </tr>
        <tr><thead class="thead-primary">
          <th scope="col">Peso: </th>  </thead>
          <td scope="row">{{deportistaDetail.peso}}</td>
        </tr>
        <tr><thead class="thead-primary">
          <th scope="col">Ritmo cardiaco:</th>  </thead>
          <td scope="row">{{deportistaDetail.ritmoCardiaco}}</td>
        </tr>
        <tr><thead class="thead-primary">
          <th scope="col">Medida piernas: </th>  </thead>
          <td scope="row">{{deportistaDetail.medidaPiernas}}</td>
        </tr>
        <tr><thead class="thead-primary">
          <th scope="col">Medida cintura: </th>  </thead>
          <td scope="row">{{deportistaDetail.medidaCintura}}</td>
        </tr>
        <tr><thead class="thead-primary">
          <th scope="col">Medida brazos:</th>  </thead>
          <td scope="row">{{deportistaDetail.medidaBrazos}}</td>
        </tr>
        <tr><thead class="thead-primary">
          <th scope="col">Cédula:</th>  </thead>
          <td scope="row">{{deportistaDetail.cedula}}</td>
        </tr>
        <tr><thead class="thead-primary">
          <th scope="col">Fecha de nacimiento:</th>  </thead>
          <td scope="row">{{deportistaDetail.fechaNacimiento}}</td>
        </tr>

      </thead>

    </table>

</div>
