<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<div class="container-fluid">
    <div class="row">
<div class="col-md-3">
    <br>
    <br>
    <br>
    <br>
     <table>
        <thead>
        <tr>
        <thead >
        <th  >Nombre:</th> 
        </thead>
        <td  >{{deportistaDetail.nombre}}</td>
        </tr>
        <tr><thead >
        <th  >Género:</th>  </thead>
        <td  >{{deportistaDetail.sexo}}</td>
        </tr>
        <tr><thead >
        <th  >Altura:</th>  </thead>
          <td  >{{deportistaDetail.altura}}</td>
        </tr>
        <tr><thead>
          <th  >Presión sanguínea:</th>  </thead>
          <td  >{{deportistaDetail.presionSanguinea}}</td>
        </tr>
        <tr><thead >
          <th  >Peso: </th>  </thead>
          <td  >{{deportistaDetail.peso}}</td>
        </tr>
        <tr><thead >
          <th  >Ritmo cardiaco:</th>  </thead>
          <td  >{{deportistaDetail.ritmoCardiaco}}</td>
        </tr>
        <tr><thead>
          <th  >Medida piernas: </th>  </thead>
          <td  >{{deportistaDetail.medidaPiernas}}</td>
        </tr>
        <tr><thead >
          <th  >Medida cintura: </th>  </thead>
          <td  >{{deportistaDetail.medidaCintura}}</td>
        </tr>
        <tr><thead >
          <th  >Medida brazos:</th>  </thead>
          <td  >{{deportistaDetail.medidaBrazos}}</td>
        </tr>
        <tr><thead >
          <th  >Cédula:</th>  </thead>
          <td  >{{deportistaDetail.cedula}}</td>
        </tr>
        <tr><thead >
          <th  >Fecha de nacimiento: </th>  </thead>
          <td  >{{deportistaDetail.fechaNacimiento}}</td>
        </tr>
      </thead>
      
     </table></div>
    <div class="col-md-6">
         <p class="h3 p-3">Objetivos de este deportista : </p>
         <app-objetivo-list [objetivos]="deportistaDetail.objetivos"></app-objetivo-list>
         <div *ngxPermissionsOnly="['ESPECIALISTA']">
             <button [ngClass]="{ 'btn-primary': !showAddObjetivo, 'btn-danger': showAddObjetivo }" type="button" class="btn"
               (click)="showHideAddObjetivo(deportistaDetail.id)">Agregar objetivo <i class="fa fa-plus"></i></button>
    
         </div>
    </div>
<div class="col-6">
<div *ngxPermissionsOnly="['ESPECIALISTA', 'ADMIN']" >
    <br>
        <button  style="font-size:20px" type="button" class="btn btn-primary"(click)="showHideEdit(deportistaDetail.id)" >Editar <span class="fa fa-pencil" ></span></button>

        <button style="font-size:20px" class="btn btn-danger" (click)="deleteDeportista(deportistaDetail.id)" >Eliminar <i class="fa fa-trash"></i></button>
 
        <div *ngIf="showEdit">
            <app-deportista-edit [deportista_id]="deportista_edit_id" (cancel)="showHideEdit(deportista_edit_id)" (update)="updateDeportista()"></app-deportista-edit>
        </div>
        <div *ngIf="showAddOjetivo">
            <app-depotista-add-objetivo (cancel)="showHideAddObjetivo(deportistaDetail.id)" (create)="ngOnInit()"> </app-depotista-add-objetivo>

        </div>
</div>
</div>
    
</div>    
<div>
    
    



