<!DOCTYPE html>

<html lang="en">
<head>
  <title>Ludis</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a id="inicioTag" class="nav-link" routerLink="/home/home" style="color:white">Inicio</a>
    </li>
    <li class="nav-item">
        <a id="deportistasTag" class="nav-link" routerLink="/deportistas/list" style="color:white">Deportistas</a>
    </li>
    <li class="nav-item">
        <a id="ejerciciosTag" class="nav-link" routerLink="/ejercicios/list" style="color:white">Ejercicios</a>
    </li>
    <li class="nav-item">
        <a id="especialistasTag" class="nav-link" routerLink="/especialistas/list" style="color:white">Especialistas</a>
    </li>
    <li class="nav-item">
        <a id="implementosTag" class="nav-link" routerLink="/implementos/list" style="color:white">Implementos</a>
    </li>
    <li class="nav-item">
        <a id="maquinasTag" class="nav-link" routerLink="/maquinas/list" style="color:white">Máquinas</a>
    </li>
    <li class="nav-item">
        <a id="objetivosTag" class="nav-link" routerLink="/objetivos/list" style="color:white">Objetivos</a>
    </li>
    <li class="nav-item">
        <a id="rutinasTag" class="nav-link" routerLink="/rutinas/list" style="color:white">Rutinas</a>
    </li>
    <li class="nav-item">
        <a id="zonascuerpoTag" class="nav-link" routerLink="/zonascuerpo/list" style="color:white">Zonas del Cuerpo</a>
    </li>
</ul>
  </div>
</nav>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Ludis</h1>      
    <p>Solo los caminos duros llevan a la grandeza.</p>
  </div>
</div>
  <div class="list">
    <router-outlet> </router-outlet>
</div>
<footer class="container-fluid text-center">
  <h3>La fuerza no viene de una capacidad física. Viene de una voluntad indomable.</h3>
</footer>

</body>
</html>
       

