<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  <app-maquina-list> </app-maquina-list>
  <app-implemento-list> </app-implemento-list>
  <app-deportista-list> </app-deportista-list>
  <app-objetivo-list> </app-objetivo-list>
  <app-especialista-list> </app-especialista-list>
  <app-rutina-list> </app-rutina-list>
  <app-ejercicio-list> </app-ejercicio-list>
  <app-zonacuerpo-list> </app-zonacuerpo-list>
  
</div>-->

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a id="deportistasTag" class="nav-link" routerLink="/deportistas/list">Deportistas</a>
    </li>
    <li class="nav-item">
        <a id="ejerciciosTag" class="nav-link" routerLink="/ejercicios/list">Ejercicios</a>
    </li>
    <li class="nav-item">
        <a id="especialistasTag" class="nav-link" routerLink="/especialistas/list">Especialistas</a>
    </li>
    <li class="nav-item">
        <a id="implementosTag" class="nav-link" routerLink="/implementos/list">Implementos</a>
    </li>
    <li class="nav-item">
        <a id="maquinasTag" class="nav-link" routerLink="/maquinas/list">Máquinas</a>
    </li>
    <li class="nav-item">
        <a id="objetivosTag" class="nav-link" routerLink="/objetivos/list">Objetivos</a>
    </li>
    <li class="nav-item">
        <a id="rutinasTag" class="nav-link" routerLink="/rutinas/list">Rutinas</a>
    </li>
    <li class="nav-item">
        <a id="zonascuerpoTag" class="nav-link" routerLink="/zonascuerpo/list">Zonas del Cuerpo</a>
    </li>
</ul>
  
<div class="list">
    <router-outlet></router-outlet>
</div>

<!--<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>-->
