<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center">Registrar un implemento</h2>
        <br>
        <form name="implemento" (ngSubmit)="f.form.valid && createImplemento()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="implementoNombre"><b>Nombre</b></label>
                <input type="text" name="implementoNombre" class="form-control" id="implementoNombre" [(ngModel)]="implemento.nombre"
                    #implementoNombre="ngModel" [ngClass]="{ 'is-invalid': f.submitted && implementoNombre.invalid }" required>
                <div class="invalid-feedback">
                    <div>Se debe llenar el campo Nombre</div>
                </div>
            </div>
            <div class="form-group">
                <label for="implementoImagen"><b>Imagen</b></label>
                <input type="url" name="implementoImagen" class="form-control" id="implementoImagen" [(ngModel)]="implemento.imagen"
                    #implementoImagen="ngModel" [ngClass]="{ 'is-invalid': f.submitted && implementoImagen.invalid }" required>
                <div class="invalid-feedback">
                    <div>Se debe llenar el campo Imagen</div>
                </div>
            </div>
            <div class="form-group">
                <label for="implementoCantidadExistencias"><b>Cantidad de existencias</b></label>
                <input type="number" name="implementoCantidadExistencias" min="1" class="form-control" id="implementoNombre" [(ngModel)]="implemento.cantidadExistencias"
                    #implementoCantidadExistencias="ngModel" [ngClass]="{ 'is-invalid': f.submitted && implementoCantidadExistencias.invalid }" required>
                <div class="invalid-feedback">
                    <div>Se debe llenar el campo Cantidad de existencias</div>
                </div>
            </div>
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Crear</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancelar</button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>
