<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<div class="row">
    <div class="col-12">
        <br>
        <h2 class="text-center">Editar una especialista</h2>
        <br>
        <form name="especialista" (ngSubmit)="f.form.valid && editEspecialista()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="especialistaName"><b>Nombre</b></label>
                <input type="textarea" name="especialistaName" class="form-control" id="especialistaName" [(ngModel)]="especialista.nombre"
                       #especialistaName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && especialistaName.invalid }" required>
                       <div class="invalid-feedback">
                    <div> Debe llenar el campo Nombre</div>
                </div>
            </div>
            <div class="form-group">
                <label for="especialistaEspecialidad"><b>Especialidad</b></label>
                <input type="text" name="especialistaEspecialidad" class="form-control" id="especialistaEspecialidad" [(ngModel)]="especialista.especialidad"
                       #especialistaEspecialidad="ngModel" [ngClass]="{ 'is-invalid': f.submitted && especialistaEspecialidad.invalid }" required>
                       <div class="invalid-feedback">
                    <div> Debe llenar el campo Especialidad</div>
                </div>
            </div>
              <div class="form-group">
                <label for="especialistaCedula"><b>Cedula</b></label>
                <input type="text" name="especialistaCedula" class="form-control" id="especialistaCedula" [(ngModel)]="especialista.cedula"
                       #especialistaCedula="ngModel" [ngClass]="{ 'is-invalid': f.submitted && especialistaCedula.invalid }" required>
                       <div class="invalid-feedback">
                    <div> Debe llenar el campo Cedula</div>
                </div>
            </div>
            <div class="form-group">
                <label for="especialistaImagen"><b>Imagen</b></label>
                <input type="text" name="especialistaImagen" class="form-control" id="especialistaImagen" [(ngModel)]="especialista.imagen"
                       #especialistaImagen="ngModel" [ngClass]="{ 'is-invalid': f.submitted && especialistaImagen.invalid }" required>
                       <div class="invalid-feedback">
                    <div> Debe llenar el campo Imagen</div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row form-inline justify-content-center align-self-center">
            <button type="button" class="btn btn-primary" (click)="editEspecialista()" >Edit</button>
            <label></label>
            <button type="button" class="btn btn-danger" (click)="cancelEdition()">Cancel</button>
        </div>
    </div>
</div>
<br>
<br>