<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <br>
            <div class="row justify-content-center align-self-center" *ngxPermissionsOnly="['ADMIN']">
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Registrar una Máquina</button>
            </div>
            <br>
            <br>
            <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>   
                    <th *ngxPermissionsOnly="['ADMIN']">Editar</th> 
                    <th *ngxPermissionsOnly="['ADMIN']">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let maquina of maquinas">
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/maquinas/{{maquina.id}}">{{maquina.id}}</dd>
                    </td>
                    <td>{{maquina.nombre}}</td>
                    <td *ngxPermissionsOnly="['ADMIN']">
                         <button class="btn" (click)="showHideEdit(maquina.id)"><span class="fa fa-pencil" ></span></button>
                    </td>
                    <td *ngxPermissionsOnly="['ADMIN']">
                        <button class="btn btn-danger" (click)="deleteMaquina(maquina.id)"><span class="fa fa-trash"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="col-8">
            
          <h1 style="color: white" > .  </h1>
            <p style="color: white" > .  </p>
            <div *ngIf="showCreate==false">
            <div  *ngIf="showEdit==false">
            <ngbd-carousel-basic></ngbd-carousel-basic>
            </div>
            </div>
          <div *ngIf="selectedAuthor">
              <app-maquina-detail> [maquinaDetail]="selectedMaquina></app-maquina-detail>
          </div>
        <div *ngIf="showCreate">
            <app-maquina-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-maquina-create>
        </div>
        <div *ngIf="showEdit">
            <app-maquina-edit [maquina_id]="maquina_edit_id" [maquina]="selectedMaquina" (cancel)="showHideEdit(selectedMaquina.id)" (update)="updateMaquina()" ></app-maquina-edit>
        </div>
            
        </div>  
    </div>
</div>