<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <br>
            <div class="row justify-content-center align-self-center">
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Registrar una Rutina</button>
            </div>
            <br>
            <br>
            <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>identificadorRutina</th>
                    <th>nombre</th>
                    <th>estadoTerminado</th>     
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let rutina of rutinas">
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/rutinas/2">{{rutina.id}}</dd>
                    </td>
                    <td>{{rutina.identificadorRutina}}</td>
                    <td>{{rutina.nombre}}</td>
                    <td>{{rutina.estadoTerminado}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>