<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">
    <div class="row">
    <div class="col-4">
        <br>
            <div class="row justify-content-center align-self-center">
                <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                    (click)="showHideCreate()">Crear un implemento</button>
            </div>
            <br>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>              
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let implemento of implementos">
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/implementos/{{implemento.id}}">{{implemento.id}}</dd>
                    </td>
                    <td>{{implemento.nombre}}</td>
                    <!--><td id="implemento-edit">
                            <button [ngClass]="{ 'btn-primary': (!showEdit || edit_implemento_id != implemento.id), 'btn-danger': (showEdit && edit_implemento_id == implemento.id) }"
                                type="button" class="btn" (click)="showEditImplemento(implemento.id)">Editar</button>
                        </td>
                        <td id="implemento-delete">
                            <button class="btn btn-danger" (click)="deleteImplemento(implemento.id)"><span class="fa fa-trash"></span></button>
                        </td><-->
                </tr>
            </tbody>
        </table>
        </div>
        <div class="col-8">
          <div *ngIf="selectedImplemento">
              <app-implemento-detail> [implementoDetail]="selectedImplemento></app-implemento-detail>
          </div>
            <div *ngIf="showCreate">
                <app-implemento-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-implemento-create>
            </div>
        </div>
    </div>
</div>
