<div class="container-fluid">
    <div class="col-md-2">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let implemento of implementos">
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/implementos/2">{{implemento.id}}</dd>
                    </td>
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/implementos/2">{{implemento.nombre}}</dd>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
