<div class="container-fluid" >
    <div class="row" >
        <div class="col-4">
        <br>
        <table class="table table-striped" >
            <thead class ="thead-dark">
                <tr>
                    <th>Descripción</th>
                    <th *ngIf="esListaObjetivos()" required>Cumplio</th>
                    <th *ngIf="esListaObjetivos()" required>Fecha límite</th>
                    <th *ngxPermissionsOnly="['ESPECIALISTA']">Editar</th>
                </tr>
            </thead>
            <tbody>
                 <tr *ngFor = "let objetivo of objetivos">
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/objetivos/{{objetivo.id}}">{{objetivo.descripcion}}</dd>
                    </td>
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/objetivos/{{objetivo.id}}"*ngIf="esListaObjetivos()" required>{{objetivo.cumplio}}</dd>
                    </td>
                    
                   <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/objetivos/{{objetivo.id}}"*ngIf="esListaObjetivos()" required>{{objetivo.fechaLimite}}</dd>
                   
                    </td>
                    <td *ngxPermissionsOnly="['ESPECIALISTA']">
                         <button class="btn" (click)="showHideEdit(objetivo.id)"*ngIf="esListaObjetivos()" required><span class="fa fa-pencil" ></span></button>
                    </td>
                     
                </tr>
            </tbody>
        </table>
        <br>
           <div class="justify-content-center align-self-center" *ngxPermissionsOnly="['ESPECIALISTA']">
               <button  style="font-size:18px" [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn-success"
                   (click)="showHideCreate()" *ngIf="esListaObjetivos()" required>Registrar un objetivo  <i class="fa fa-plus"></i></button>
           </div>
        <br>
      </div>
        <div class="col-8">
        <div *ngIf="selectedObjetivo">
          <app-objetivo-detail> [objetivoDetail]="selectedObjetivo></app-objetivo-detail>
        </div>
        <div *ngIf="showCreate">
            <app-objetivo-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-objetivo-create>
        </div>
        <div *ngIf="showEdit">
            <app-objetivo-edit [objetivo_id]="objetivo_edit_id" (cancel)="showHideObjetivo(objetivo_edit_id)" (update)="updateObjetivo()"></app-objetivo-edit>
        </div>
    </div>
</div>
</div>
  
    
    