<div class="container-fluid">
    <div class="row">
        <div class="col-4">
        <br>
           <div class="row justify-content-center align-self-center">
               <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                   (click)="showHideCreate()">Registrar un objetivo</button>
           </div>
        <br>
        <br>
        <table class="table table-striped">
            <thead class ="thead-dark">
                <tr>
                    <th>Descripción</th>
                    <th>Cumplio</th>
                    <th>Fecha límite</th>
                </tr>
            </thead>
            <tbody>
                 <tr *ngFor = "let objetivo of objetivos">
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/objetivos/{{objetivo.id}}">{{objetivo.descripcion}}</dd>
                    </td>
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/objetivos/{{objetivo.id}}">{{objetivo.cumplio}}</dd>
                    </td>
                    
                   <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/objetivos/{{objetivo.id}}">{{objetivo.fechaLimite}}</dd>
                    </td>
                    
                </tr>
            </tbody>
        </table>
      </div>
        <div class="col-8">
        <div *ngIf="selectedObjetivo">
          <app-objetivo-detail> [objetivoDetail]="selectedObjetivo></app-objetivo-detail>
        </div>
        <div *ngIf="showCreate">
            <app-objetivo-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-objetivo-create>
        </div>
        <div *ngIf="showEdit">
            <app-objetivo-edit [objetivo_id]="objetivo_edit_id" (cancel)="showHideObjetivo(objetivo_edit_id)" (update)="updateObjetivo()"></app-objetivo-edit>
        </div>
    </div>
</div>
  
    
    