<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
        <br>
          
        <br>
        <br>
        <table class="table table-striped">
            <thead class ="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th *ngxPermissionsOnly="['ADMIN', 'ESPECIALISTA']">Editar</th>
                    <th *ngxPermissionsOnly="['ADMIN', 'ESPECIALISTA']">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                 <tr *ngFor = "let zonacuerpo of zonacuerpos">
                    
                    <td style="cursor: pointer;">
                        <dd class="figure-caption" routerLink="/zonascuerpo/{{zonacuerpo.id}}">{{zonacuerpo.nombre}}</dd>
                    </td>
                    <td *ngxPermissionsOnly="['ADMIN', 'ESPECIALISTA']">
                         <button class="btn" (click)="showHideEdit(zonacuerpo.id)"><span class="fa fa-pencil"></span></button>
                    </td>
                    <td *ngxPermissionsOnly="['ADMIN', 'ESPECIALISTA']">
                        <button class="btn btn-danger" (click)="deleteZonacuerpo(zonacuerpo.id)"><span class="fa fa-trash"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
         <div class="row2" *ngxPermissionsOnly="['ADMIN', 'ESPECIALISTA']">
               <button [ngClass]="{ 'btn-primary': !showCreate, 'btn-danger': showCreate }" type="button" class="btn"
                   (click)="showHideCreate()">Registrar a un zonacuerpo</button>
           </div>
         
    </div>
        
        <div class="col-md-5">
          <br>
            <br> 
            <br>    <div *ngIf="showCarousel">
            <ngbd-carousel-basic2></ngbd-carousel-basic2></div>
        </div>
        
        <div class="col-md-3">
        <div *ngIf="showCreate">
            <app-zonacuerpo-create (cancel)="showHideCreate()" (create)="ngOnInit()"></app-zonacuerpo-create>
        </div>
        <div *ngIf="showEdition">
            <app-zonacuerpo-edit [zonacuerpo_id]="zonacuerpo_edit_id" (cancel)="showHideEdit(zonacuerpo_edit_id)" (update)="updateZonacuerpo()"></app-zonacuerpo-edit>
        </div>
    </div>
</div>
</div>