<div class="container-fluid bg-3 text-center">    
  <h3>Quienes somos</h3><br>
  <div class="row">
    <div class="col-sm-6">
      <p>Nuestra Misión</p>
      <img src="https://us.123rf.com/450wm/javiindy/javiindy1701/javiindy170100036/68763172-closeup-of-weightlift-workout-at-the-gym-with-barbell-man-wearing-sportswear-clothes-.jpg?ver=6" class="img-responsive" height="400" width="800" alt="Image">
    </div>
    <div class="col-sm-6"> 
      <p>Nuestra Vision</p>
      <img src="https://http2.mlstatic.com/botella-para-hidratacion-agua-smart-iphone-apple-gym-sport-D_NQ_NP_628297-MLM25620431972_052017-O.jpg" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br>

<div class="container-fluid bg-3 text-center">    
  <div class="row">
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3"> 
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>Some text..</p>
      <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
    </div>
  </div>
</div><br><br>
