<!--<div class="row">
    <div class="col-12">
        <br>
        <h2 class="text-center">Editar una rutina</h2>
        <br>
        <form name="rutina" (ngSubmit)="f.form.valid && editRutina()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="rutinaName"><b>Nombre</b></label>
                <input type="textarea" name="rutinaName" class="form-control" id="rutinaName" [(ngModel)]="rutina.nombre"
                       #rutinaName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && rutinaName.invalid }" required>
                       <div class="invalid-feedback">
                    <div> Debe llenar el campo Nombre</div>
                </div>
            </div>
            <div class="form-group">
                <label for="rutinaReferencia"><b>Referencia</b></label>
                <input type="text" name="rutinaReferencia" class="form-control" id="rutinaReferencia" [(ngModel)]="rutina.referencia"
                       #rutinaReferencia="ngModel" [ngClass]="{ 'is-invalid': f.submitted && rutinaReferencia.invalid }" required>
                       <div class="invalid-feedback">
                    <div> Debe llenar el campo Referencia</div>
                </div>
            </div>
            <div class="form-group">
                <label for="rutinaImagen"><b>Imagen</b></label>
                <input type="text" name="rutinaImagen" class="form-control" id="rutinaImagen" [(ngModel)]="rutina.imagen"
                       #rutinaImagen="ngModel" [ngClass]="{ 'is-invalid': f.submitted && rutinaImagen.invalid }" required>
                       <div class="invalid-feedback">
                    <div> Debe llenar el campo Imagen</div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row form-inline justify-content-center align-self-center">
            <button type="button" class="btn btn-primary" (click)="editRutina()" >Edit</button>
            <label></label>
            <button type="button" class="btn btn-danger" (click)="cancelEdition()">Cancel</button>
        </div>
    </div>
</div>
<br>
<br>-->
<p>hola</p>