<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <h2 class="text-center">Crear un especialista</h2>
        <br>
        <form name="especialista" (ngSubmit)="f.form.valid && createEspecialista()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="especialistaName"><b>Name</b></label>
                <input type="text" name="especialistaName" class="form-control" id="especialistaName" [(ngModel)]="especialista.name"
                    #especialistaName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && especialistaName.invalid }" required>
                <div class="invalid-feedback">
                    <div>Por favor digite el nombre del especialista</div>
                </div>
            </div>
              <div class="form-group">
                <label for="especialistaEspecialidad"><b>Especialidad</b></label>
                <input type="text" name="especialistaEspecialidad" class="form-control" id="especialistaEspecialidad" [(ngModel)]="especialista.especialidad"
                    #especialistaEspecialidad="ngModel" [ngClass]="{ 'is-invalid': f.submitted && especialistaEspecialidad.invalid }" required>
                <div class="invalid-feedback">
                    <div>Por favor digite la especialidad</div>
                </div>
            </div>
               <div class="form-group">
                <label for="especialistaCedula"><b>Cedula</b></label>
                <input type="text" name="especialistaCedula" class="form-control" id="especialistaCedula" [(ngModel)]="especialista.cedula"
                    #especialistacedula="ngModel" [ngClass]="{ 'is-invalid': f.submitted && especialistacedula.invalid }" required>
                <div class="invalid-feedback">
                    <div>Por favor digite la cedula</div>
                </div>
            </div>
              
              
              
              
            <div class="row form-inline justify-content-center align-self-center">
                <button type="submit" class="btn btn-primary">Vincular Especialista</button>
                <div class="divider"></div>
                <button type="button" class="btn btn-danger" (click)="cancelCreation()">Cancelar</button>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>